body {
	background-image: url("../images/bg-masthead.jpg");
}



.my-button {
	font-size: 60px;
}


.wrapper {
	text-align: center;
	min-height: 100vh;
	justify-content: center;
	display: flex;
	align-items: center;
}
